@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  min-height: 100%;
  background-color: rgb(250 250 250);
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
